@model AccountVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container">
    <h2>Şifrəni unutdum bölməsi</h2>
    <form method="post">
        <label asp-for="AppUser.Email">Zəhmət olmasa e-poçtunuzu daxil edin</label><br />
        <input asp-for="AppUser.Email" class="form-control" />
        <button type="submit" class="btn btn-outline-primary mt-3">Göndər</button>
    </form>

</div>